{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script   src="https://code.jquery.com/jquery-1.12.2.min.js"   integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk="   crossorigin="anonymous"></script>
	<script src="{% static 'ifvisible.js/src/ifvisible.js'%}"></script>
	<script src="{% static 'timeme.js/timeme.js'%}"></script>
	<script src="{% static 'js/hashchange.js'%}"></script>
	<script src="{% static 'js/tracking.js'%}"></script>

</head>
<body>

<a href="/track/test1/">Test1</a>
	
</body>
</html>